@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto&display=swap');

:root {
	font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.87);
	background-color: #fbe6db;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--border-color: #e0e0e0;
	--update-button-color: #7d193e;
	--uppate-button-hover: #711033;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

button {
	border-radius: 8px;
	border: none;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--update-button-color);
	cursor: pointer;
	transition: backgroud-color 1s;
}
button:hover {
	background-color: var(--uppate-button-hover);
}
button:focus,
button:focus-visible {
	outline: none;
}
